$height: 200px;
$width: 200px;
.team {
  height: $height;
  width: $width;
  background-color: rgb(255, 239, 221);
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0px 4px 5px rgba(138, 138, 138, 0.4);
  .teamCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    .name {
      font-size: 1.3rem;
      font-weight: bolder;
      text-align: center;
    }
    .city {
      margin: 1rem 0;
      display: flex;
      align-items: center;
      font-size: 1rem;
      img {
        margin-right: 0.8rem;
      }
    }
  }
}
.teamPage {
  height: $height * 2.5;
  width: $width * 2.5;
  background-color: rgb(255, 239, 221);
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0px 4px 5px rgba(138, 138, 138, 0.4);
  .teamCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    .name {
      font-size: 1rem;
      font-weight: bolder;
      text-align: center;
    }
    .city {
      margin: 1rem 0;
      display: flex;
      align-items: center;
      font-size: 1rem;
      img {
        margin-right: 10px;
      }
    }
    .additionalInf {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      span {
        margin: 0.8rem 0;
        color: rgb(70, 70, 70);
      }
    }
  }
}

.team:hover {
  background-color: rgb(253, 227, 197);
}
